<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flows</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background: radial-gradient(#5DE0E6, #004AAD);
      margin: 0;
      padding: 20px;
    }

    h1 {
      color: #333;
      text-align: center;
    }

    .card-container {
      background-color: #fff;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-top: 60px;
    }

    .table-container {
      overflow-x: auto;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      margin-bottom: 20px; 
     
    }

    th {
      background-color: #007bff;
      color: #fff;
      padding: 12px;
      text-align: left;
      text-align: center;
    }

    td {
      padding: 12px;
      text-align: center;
    }

    tbody tr:nth-child(even) {
      background-color: #F6F4F1;
    }

    a.button {
      display: inline-block;
      padding: 8px 12px;
      text-align: center;
      text-decoration: none;
      background-color: #fff;
      color: #007bff;
      border-radius: 20px; 
      border: 2px solid #007bff; /* Add border with blue color */
      transition: background-color 0.3s ease;
    }
    

    a.button:hover {
      background-color: #0056b3;
    }

  </style>
</head>
<body>
<div class="card-container">
  <h1>Flows</h1>
  <table>
    <thead>
      <tr>
        <th>Initiator</th>  
        <th>Approver</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Actions</th> 
      </tr>
    </thead>
    <tbody>
      <% @flows.each do |flow| %>
        <tr>
          <td>Everyone</td> 
          <% user_approver = User.find_by_id(flow.assigned_user_id) %>
          <td><%= user_approver ? user_approver.email : 'User not found' %></td>
          <td><%= flow.start_date %></td>
          <td><%= flow.end_date %></td>
          <td>
            <%= link_to flow_path(flow), class: 'btn btn-primary btn-sm' do %>
              <i class="fas fa-eye"></i> View
            <% end %>
      
            <%= link_to edit_flow_path(flow), class: 'btn btn-secondary btn-sm', id: 'edit-user-btn' do %>
              <i class="fas fa-edit"></i> Edit
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</body>
</html>
